<!DOCTYPE html>
	<html lang="PT-BR">
		<head>
			<meta charset="UTF-8"/>
			<title>Notícias</title>
		</head>
	<body>

		<h1>Notícias</h1>

		<table>
			<thead>
				<tr>
					<td>#</td>
					<td>Título</td>
					<td>Notícia</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%=noticia[0].id %></td>
					<td><%=noticia[0].titulo %></td>
					<td><%=noticia[0].noticia %></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>